* {
  margin: 0;
  padding: 0;
  color: ghostwhite;
  background-color: #111;
}

#value {
  display: block;
  text-align: center;
  font-size: 10em;
}

.container {
  text-align-last: center;
}

button {
  padding: 10px;
  font-size: 120%;
  background-color: ghostwhite;
  color: #111;
  width: 100px;
  cursor: pointer;
  border-radius: 5%;
  transition: all 0.2s;
}

button:hover {
  transform: scale(1.05);
}